{# empty Twig template #}



            <!-- Copyright 6
            ==================================================================== -->
            <footer id="copyright-section-6" class="copyright-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Copyright Block -->
                            <div class="col-md-12 copyright-block">
                                <!-- Copyright Block Container -->
                                <div class="copyright-block-container text-center">

                                    <!-- Title -->
                                    <p>&copy; 2016 <a href="#" title="Graphicfort">Graphicfort</a>, all rights reserved.</p>

                                </div><!-- /End Copyright Block Container -->
                            </div><!-- /End Copyright Block -->


                            <!-- Copyright Block -->
                            <div class="col-md-12 copyright-block">
                                <!-- Copyright Block Container -->
                                <div class="copyright-block-container text-center">

                                    <!-- Widget Block ( Link ) -->
                                    <div class="link-widget-block link-widget-block-style-1">
                                        <!-- Widget Block Container -->
                                        <div class="widget-block-container">


                                            <!-- Widget Block Content -->
                                            <div class="widget-block-content">
                                                <ul>
                                                    <li><a href="#" title="About">ABOUT US</a></li>
                                                    <li><a href="#" title="Privacy Policy">PRIVACY POLICY</a></li>
                                                    <li><a href="#" title="Terms of use">TERMS OF USE</a></li>
                                                    <li><a href="#" title="Contact us">CONTACT US</a></li>
                                                </ul>
                                            </div><!-- /End Widget Block Content -->


                                        </div><!-- /End Widget Block Container -->
                                    </div><!-- /End Widget Block ( Link ) -->

                                </div><!-- /End Copyright Block Container -->
                            </div><!-- /End Copyright Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </footer><!-- /End Copyright 6 -->