{# empty Twig template #}



            <!-- FAQ 3
            ==================================================================== -->
            <div id="faq-section-3" class="faq-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h2>FREQUENTLY ASKED QUESTIONS</h2>

                                    <!-- Description -->
                                    <p>Release bandwidth user experience research &amp; development branding termsheet business plan advisor analytics ecosystem entrepreneur freemium.</p>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- FAQ Block -->
                            <div class="col-lg-4 col-md-6 faq-block faq-block-style-1">
                                <!-- FAQ Block Container -->
                                <div class="faq-block-container">

                                    <!-- Title -->
                                    <h4>What is account limits ?</h4>

                                    <!-- Description -->
                                    <p>Seed round business-to-consumer channels pivot business model canvas agile development.</p>

                                </div><!-- /End FAQ Block Container -->
                            </div><!-- /End FAQ Block -->


                            <!-- FAQ Block -->
                            <div class="col-lg-4 col-md-6 faq-block faq-block-style-1">
                                <!-- FAQ Block Container -->
                                <div class="faq-block-container">

                                    <!-- Title -->
                                    <h4>How do i change my username ?</h4>

                                    <!-- Description -->
                                    <p>Innovator direct mailing seed money crowdsource twitter monetization return on investment learning curve.</p>

                                </div><!-- /End FAQ Block Container -->
                            </div><!-- /End FAQ Block -->


                            <!-- FAQ Block -->
                            <div class="col-lg-4 col-md-6 faq-block faq-block-style-1">
                                <!-- FAQ Block Container -->
                                <div class="faq-block-container">

                                    <!-- Title -->
                                    <h4>How do i change my password ?</h4>

                                    <!-- Description -->
                                    <p>Early adopters traction stealth focus partnership conversion responsive web design social media.</p>

                                </div><!-- /End FAQ Block Container -->
                            </div><!-- /End FAQ Block -->


                            <!-- FAQ Block -->
                            <div class="col-lg-4 col-md-6 faq-block faq-block-style-1">
                                <!-- FAQ Block Container -->
                                <div class="faq-block-container">

                                    <!-- Title -->
                                    <h4>What are community badges ?</h4>

                                    <!-- Description -->
                                    <p>Supply chain A/B testing alpha startup iPad ownership social media influencer direct mailing.</p>

                                </div><!-- /End FAQ Block Container -->
                            </div><!-- /End FAQ Block -->


                            <!-- FAQ Block -->
                            <div class="col-lg-4 col-md-6 faq-block faq-block-style-1">
                                <!-- FAQ Block Container -->
                                <div class="faq-block-container">

                                    <!-- Title -->
                                    <h4>How do i change my email ?</h4>

                                    <!-- Description -->
                                    <p>Disruptive iPad ecosystem early adopters ramen gamification backing product management.</p>

                                </div><!-- /End FAQ Block Container -->
                            </div><!-- /End FAQ Block -->


                            <!-- FAQ Block -->
                            <div class="col-lg-4 col-md-6 faq-block faq-block-style-1">
                                <!-- FAQ Block Container -->
                                <div class="faq-block-container">

                                    <!-- Title -->
                                    <h4>How do i close my account ?</h4>

                                    <!-- Description -->
                                    <p>Mass market release infrastructure influencer beta iPad buzz accelerator founders.</p>

                                </div><!-- /End FAQ Block Container -->
                            </div><!-- /End FAQ Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End FAQ 3 -->
