{# empty Twig template #}


            <!-- Footer 6
            ==================================================================== -->
            <footer id="footer-section-6" class="footer-section grey-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Widget Block ( Text ) -->
                            <div class="col-md-4 widget-block text-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h4>ABOUT US</h4>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">

                                        <!-- Description -->
                                        <p>Smart Azores Rental Car é um espaço peer-to-peer de aluguer de veículos da marca Smart na ilha de São Miguel nos Açores.</p>
                                        <p>Contamos com o apoio de varios parceiros como a <a style="color:#d32f2f" href="https://www.tranquilidade.pt/">Tranquilidade</a>, <a style="color:#d32f2f" href="http://www.europ-assistance.pt/">Europ-Assistance</a>, <a style="color:#d32f2f" href="https://www.bookingdrive.com">BookingDrive</a> e <a style="color:#d32f2f" href="https://www.caramigo.eu">CarAmigo</a> .</p>

                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Text ) -->


                            <!-- Widget Block ( Text ) -->
                            <div class="col-md-4 widget-block text-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h4>REACH US</h4>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">

                                        <!-- Description -->
                                        <strong>EMAIL</strong>
                                        <p>Support: <a href="mailto:support@smartazores.com" title="Support">support@smartazores.com</a></p>
                                        <strong>PHONE</strong>
                                        <p>+351 962445280</p>
                                        <strong>LOCATION</strong>
                                        <p>Rua dos Mercadores 63, 9500-150 Ponta Delgada, Açores, Portugal</p>

                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Text ) -->


                            <!-- Widget Block ( Google Map ) -->
                            <div class="col-md-4 widget-block gmap-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h4>FIND US</h4>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">

                                        <!-- Google Map -->
                                        <div class="gmap-block" data-lat="37.740429" data-lng="-25.666564"></div>
                                        
                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Google Map ) -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </footer><!-- /End Footer 6 -->