{# empty Twig template #}


            <!-- Footer 6
            ==================================================================== -->
            <footer id="footer-section-6" class="footer-section grey-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Widget Block ( Text ) -->
                            <div class="col-md-4 widget-block text-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h4>{% trans %}footer_about_us{% endtrans %}</h4>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">

                                        <!-- Description -->
                                        <p>{% trans %}footer_about_us_01{% endtrans %}</p>
                                        <p>{% trans %}footer_about_us_02{% endtrans %}</p>

                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Text ) -->


                            <!-- Widget Block ( Text ) -->
                            <div class="col-md-4 widget-block text-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h4>{% trans %}footer_reach_us{% endtrans %}</h4>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">

                                        <!-- Description -->
                                        <strong>{% trans %}footer_reach_us_email{% endtrans %}</strong>
                                        <p>{% trans %}footer_reach_us_support{% endtrans %}: <a href="mailto:smartazores@gmail.com" title="{% trans %}footer_reach_us_support{% endtrans %}">smartazores@gmail.com</a></p>
                                        <strong>{% trans %}footer_reach_us_phone{% endtrans %}</strong>
                                        <p>+351 962445280</p>
                                        <strong>{% trans %}footer_reach_us_location{% endtrans %}</strong>
                                        <p>Rua dos Mercadores 63, 9500-150 Ponta Delgada, Açores, Portugal</p>

                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Text ) -->


                            <!-- Widget Block ( Google Map ) -->
                            <div class="col-md-4 widget-block gmap-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h4>{% trans %}footer_reach_us_find_us{% endtrans %}</h4>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">

                                        <!-- Google Map -->
                                        <div class="gmap-block" data-lat="37.740429" data-lng="-25.666564"></div>
                                        
                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Google Map ) -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </footer><!-- /End Footer 6 -->