{# empty Twig template #}

            <!-- Header 8
            ==================================================================== -->
            <header id="header-section-8" class="header-section header-style-8">
                <!-- Header Section Container -->
                <div class="header-section-container">


                    <!-- Top Header -->
                    <div class="top-header">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-3 -->
                                <div class="col-md-3">


                                    <!-- Navbar Header -->
                                    <div class="navbar-header">
                                        <!-- Logo -->
                                        <a href="#header-section-8" class="navbar-brand" title="Smart Azores">
                                            <img src="{{ asset('bundles/app/images/logo.png')}}" alt="Smart Azores Logo" />
                                        </a><!-- /End Logo -->
                                    </div><!-- /End Navbar Header -->


                                </div><!-- /End col-md-3 -->


                                <!-- col-md-9 -->
                                <div class="col-md-9">


                                    <!-- Info Block -->
                                    <div class="info-block info-block-style-1">
                                        <!-- Info Block Container -->
                                        <div class="info-block-container">

                                            <!-- Icon -->
                                            <i class="fa fa-phone circle-icon-block circle-icon-block-sm"></i>

                                            <!-- Title -->
                                            <h6>CALL US</h6>

                                            <!-- Description -->
                                            <a href="tel:+351962445280" title="+351962445280">+351 962445280</a>

                                        </div><!-- /End Info Block Container -->
                                    </div><!-- /End Info Block -->


                                    <!-- Info Block -->
                                    <div class="info-block info-block-style-1">
                                        <!-- Info Block Container -->
                                        <div class="info-block-container">

                                            <!-- Icon -->
                                            <i class="fa fa-envelope circle-icon-block circle-icon-block-sm"></i>

                                            <!-- Title -->
                                            <h6>CONTACT US</h6>

                                            <!-- Description -->
                                            <a href="mailto:support@smartazores.com" title="support@smartazores.com">support@smartazores.com</a>

                                        </div><!-- /End Info Block Container -->
                                    </div><!-- /End Info Block -->


                                    <!-- Info Block -->
                                    <div class="info-block info-block-style-1">
                                        <!-- Info Block Container -->
                                        <div class="info-block-container">

                                            <!-- Icon -->
                                            <i class="fa fa-clock-o circle-icon-block circle-icon-block-sm"></i>

                                            <!-- Title -->
                                            <h6>WORKING HOURS</h6>

                                            <!-- Description -->
                                            <p>Monday - Friday: 9am - 6pm</p>

                                        </div><!-- /End Info Block Container -->
                                    </div><!-- /End Info Block -->


                                </div><!-- /End col-md-9 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Top Header -->


                    <!-- Header Menu -->
                    <div class="header-menu header-menu-left">
                        <!-- Header Menu Container -->
                        <div class="header-menu-container">


                            <!-- Navbar -->
                            <nav class="navbar">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">
                                        <!-- col-md-12 -->
                                        <div class="col-md-12">


                                            <!-- Toggle Menu Button -->
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                                Menu <span><i class="lines"></i></span>
                                            </button><!-- /End Toggle Menu Button -->


                                            <!-- Navbar Collapse ( Menu ) -->
                                            <div class="collapse navbar-collapse">
                                                <ul class="nav navbar-nav navbar-right">

                                                    <li>
                                                        <a href="#header-section-8" title="Home">Home</a>
                                                    </li>

                                                    <li>
                                                        <a href="#content-section-16" title="Services">Services</a>
                                                    </li>

                                                    <li>
                                                        <a href="#portfolio-section-21" title="The Fleet">The Fleet</a>
                                                    </li>

                                                    <li>
                                                        <a href="#portfolio-section-20" title="Team">ROTEIRO</a>
                                                    </li>

                                                    <li>
                                                        <a href="#pricing-section-1" title="FAQ">PLANOS</a>
                                                    </li>

                                                    <li>
                                                        <a href="#contact-section-22" title="Contact">RESERVAR</a>
                                                    </li>

                                                </ul>
                                            </div><!-- /End Navbar Collapse ( Menu ) -->


                                            <!-- Social Icons Block -->
                                            <div class="social-icons-block social-icons-block-sm social-icons-block-style-1">
                                                <ul>
                                                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" title="youtube"><i class="fa fa-youtube-play"></i></a></li>
                                                    <li><a href="#" title="Behance"><i class="fa fa-behance"></i></a></li>
                                                    <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                                                </ul>
                                            </div><!-- /End Social Icons Block -->


                                        </div><!-- /End col-md-12 -->
                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </nav><!-- /End Navbar -->


                        </div><!-- /End Header Menu Container -->
                    </div><!-- /End Header Menu -->


                </div><!-- /End Header Section Container -->
            </header><!-- /End Header 8 -->