<!-- Hero 1
            ==================================================================== -->
            <div id="hero-section-1" class="hero-section white-section section-lg-padding">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Background Image Block -->
                    <div class="background-image-block parallax-effect gfort-image">
                        <img src="images/hero/hero-001-1.jpg" alt="Parallax Image" class="mobile-image" />
                        <img src="{{ asset('bundles/app/images/hero/hero-001.jpg')}}" alt="Parallax Image" />
                    </div><!-- /End Background Image Block -->


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container white-content remove-white-content text-center">

                                    <!-- Title -->
                                    <h1>SMART AZORES RENTAL CAR</h1>

                                    <!-- Description -->
                                    <p>Aluga um Smart e diverte-te nos Açores!</p>

                                    <!-- Buttons -->
                                    <a href="#" title="Read More" class="btn btn-gfort wave-effect">LER MAIS</a>
                                    <a href="#" title="Purchase Now" class="btn btn-gfort-white wave-effect">ALUGAR JÁ</a>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End Hero 1 -->
