<!-- Hero 1
            ==================================================================== -->
            <div id="hero-section-1" class="hero-section white-section section-lg-padding">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Background Image Block -->
                    <div class="background-image-block parallax-effect gfort-image">
                        <img src="{{ asset('bundles/app/images/hero/hero-001-1.jpg')}}" alt="Rent my Smart" class="mobile-image" />
                        <img src="{{ asset('bundles/app/images/hero/hero-001.jpg')}}" alt="Rent my Smart" />
                    </div><!-- /End Background Image Block -->


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container white-content remove-white-content text-center">

                                    <!-- Title -->
                                    <h1>{% trans %}hero_title{% endtrans %}</h1>

                                    <!-- Description -->
                                    <p>{% trans %}hero_description{% endtrans %}</p>

                                    <!-- Buttons -->
                                    <a href="#single-section-1" title="{% trans %}hero_see_more{% endtrans %}" class="btn btn-gfort wave-effect">{% trans %}hero_see_more{% endtrans %}</a>
                                    <a href="#contact-section-22" title="{% trans %}hero_rent_now{% endtrans %}" class="btn btn-gfort-white wave-effect">{% trans %}hero_rent_now{% endtrans %}</a>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End Hero 1 -->
