{# empty Twig template #}

 <!-- Pricing 1
            ==================================================================== -->
            <div id="pricing-section-1" class="pricing-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h2>{% trans %}pricing_title{% endtrans %}</h2>

                                    <!-- Description -->
                                    <p>{% trans %}pricing_description{% endtrans %}</p>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- Pricing Tables Wrapper -->
                            <div class="pricing-tables-wrapper">


                                <!-- Pricing Block -->
                                <div class="col-md-4 col-sm-6 pricing-block">
                                    <!-- Pricing Block Container -->
                                    <div class="pricing-block-container" style="height: 467px;">

                                        <!-- Pricing Block Title -->
                                        <div class="pricing-block-title">
                                            <h1>{% trans %}pricing_plan_01{% endtrans %}</h1>
                                        </div><!-- /End Pricing Block Title -->

                                        <!-- Pricing Block Price -->
                                        <div class="pricing-block-price">
                                            <h2>
                                                <span class="currency">€</span>
                                                <span class="amount">25</span>
                                                <span class="duration">/{% trans %}pricing_day{% endtrans %}</span>
                                            </h2>
                                        </div><!-- /End Pricing Block Price -->

                                        <!-- Pricing Block Description -->
                                        <div class="pricing-block-desc">
                                            <p>{% trans %}pricing_plan_description_01{% endtrans %}</p>
                                        </div><!-- /End Pricing Block Description -->

                                        <!-- Pricing Block Button -->
                                        <div class="pricing-block-button">
                                            <a href="#contact-section-22" title="{% trans %}hero_rent_now{% endtrans %}" class="btn btn-gfort wave-effect">{% trans %}hero_rent_now{% endtrans %}</a>
                                        </div><!-- /End Pricing Block Button -->

                                    </div><!-- /End Pricing Block Container -->
                                </div><!-- /End Pricing Block -->


                                <!-- Pricing Block -->
                                <div class="col-md-4 col-sm-6 pricing-block">
                                    <!-- Pricing Block Container -->
                                    <div class="pricing-block-container" style="height: 467px;">

                                        <!-- Ribbon Block -->
                                        <div class="ribbon-block ribbon-block-style-2">{% trans %}pricing_now{% endtrans %}</div>

                                        <!-- Pricing Block Title -->
                                        <div class="pricing-block-title">
                                            <h1>{% trans %}pricing_plan_02{% endtrans %}</h1>
                                        </div><!-- /End Pricing Block Title -->

                                        <!-- Pricing Block Price -->
                                        <div class="pricing-block-price">
                                            <h2>
                                                <span class="currency">€</span>
                                                <span class="amount">30</span>
                                                <span class="duration">/{% trans %}pricing_day{% endtrans %}</span>
                                            </h2>
                                        </div><!-- /End Pricing Block Price -->

                                        <!-- Pricing Block Description -->
                                        <div class="pricing-block-desc">
                                            <p>{% trans %}pricing_plan_description_02{% endtrans %}</p>
                                        </div><!-- /End Pricing Block Description -->

                                        <!-- Pricing Block Button -->
                                        <div class="pricing-block-button">
                                            <a href="#contact-section-22" title="{% trans %}hero_rent_now{% endtrans %}" class="btn btn-gfort wave-effect">{% trans %}hero_rent_now{% endtrans %}</a>
                                        </div><!-- /End Pricing Block Button -->

                                    </div><!-- /End Pricing Block Container -->
                                </div><!-- /End Pricing Block -->


                                <!-- Pricing Block -->
                                <div class="col-md-4 col-sm-6 pricing-block">
                                    <!-- Pricing Block Container -->
                                    <div class="pricing-block-container" style="height: 467px;">

                                        <!-- Pricing Block Title -->
                                        <div class="pricing-block-title">
                                            <h1>{% trans %}pricing_plan_03{% endtrans %}</h1>
                                        </div><!-- /End Pricing Block Title -->

                                        <!-- Pricing Block Price -->
                                        <div class="pricing-block-price">
                                            <h2>
                                                <span class="currency">€</span>
                                                <span class="amount">35</span>
                                                <span class="duration">/{% trans %}pricing_day{% endtrans %}</span>
                                            </h2>
                                        </div><!-- /End Pricing Block Price -->

                                        <!-- Pricing Block Description -->
                                        <div class="pricing-block-desc">
                                            <p>{% trans %}pricing_plan_description_03{% endtrans %}</p>
                                        </div><!-- /End Pricing Block Description -->

                                        <!-- Pricing Block Button -->
                                        <div class="pricing-block-button">
                                            <a href="#contact-section-22" title="{% trans %}hero_rent_now{% endtrans %}" class="btn btn-gfort wave-effect">{% trans %}hero_rent_now{% endtrans %}</a>
                                        </div><!-- /End Pricing Block Button -->

                                    </div><!-- /End Pricing Block Container -->
                                </div><!-- /End Pricing Block -->


                            </div><!-- /End Pricing Tables Wrapper -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->



</div><!-- /End row -->
                    </div><!-- /End container -->


















