{# empty Twig template #}


            <!-- Content 16
            ==================================================================== -->
            <div id="content-section-16" class="content-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h2>CONDUÇÃO DIVERTIDA</h2>

                                    <!-- Description -->
                                    <p>Enquanto descobres a ilha de São Miguel nos Açores, diverte-te com o nosso Smart! Diverte-te a conduzir, a estacionar, a virar e assume uma personagem!</p>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-7">
                                <!-- Content Block Container -->
                                <div class="content-block-container text-center">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">
                                            <img src="{{ asset('bundles/app/images/content/content-022.png')}}" alt="Image Block" />
                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Title -->
                                    <h4><a href="#" title="Short term rental">Piloto de Formula 1?</a></h4>

                                    <!-- Description -->
                                    <p>Imagina-te o Michael Schumacher e chega mais depressa aos pontos turisticos da ilha de São Miguel nos Açores.(há muito para visitar, mas sempre dentro dos limites de velocidade!)</p>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-7">
                                <!-- Content Block Container -->
                                <div class="content-block-container text-center">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">
                                            <img src="{{ asset('bundles/app/images/content/content-023.png')}}" alt="Image Block" />
                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Title -->
                                    <h4><a href="#" title="Limousine service">Motorista de Limousine?</a></h4>

                                    <!-- Description -->
                                    <p>Imagina-te a conduzires uma Limusina de grande porte e luxuosa.(o smart fortwo tem apenas 2,69 m, com o smart fortwo encontras um lugar de estacionamento sempre sem problemas!) </p>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-7">
                                <!-- Content Block Container -->
                                <div class="content-block-container text-center">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">
                                            <img src="{{ asset('bundles/app/images/content/content-024.png')}}" alt="Image Block" />
                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Title -->
                                    <h4><a href="#" title="Long term rental">Piloto de Ralis?</a></h4>

                                    <!-- Description -->
                                    <p>Imagina-te o Stéphane Peterhansel e começa já a treinar!(o rally dos Açores é considerado pelos responsáveis do ERC (European Rally Championship) um dos mais espectaculares!)</p>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End Content 16 -->

